    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: lightgreen;
}

.text-center {
    text-align: center;
}

nav {
    display: flex;
    background-color: rgb(54 54 59);
    height: 10vh;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

li a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    color: azure;
}
li a:hover {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    color: red;
}

.navlogo img {
    height: 80%;
    padding: 1vh 0vw 1vh 1vw;
}

.navlogo img:hover {
    transform: rotate3d(1, 1, 1, 10deg);
    transform-origin: center;
    padding: 1vh 0vw 1vh 1vw;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    box-sizing: border-box;
}

nav ul li {
    list-style: none;
    padding: 0vw 3vw;
}

.sup_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    background-image: url("joker.jfif");
    /* background-image: url("https://i.pinimg.com/originals/54/2d/8e/542d8e8780022d6ba993fa4e7e03a717.jpg"); */
    background-size: contain;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh auto;
    align-items: center;
    height: 52vh;
    width: 66vw;
    border: 1vw inset #aab5bf;
    background-color: rgb(255 255 255);
    color: #36363b;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vw;
}
#Joke_box {
    margin: 0vh 1vw;
}

.next {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    border-radius: 0.5vw;
}

button:hover {
    background-color: red;
    color: azure;
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0vh;
    height: 7vh;
    width: 100vw;
    background-color: #36363b;
    color: azure;
    font-size: 1.2vw;
}